@font-face{
    font-family: 'kongtext';
    src: url('kongtext/kongtext.ttf');
    font-style:normal;
    font-weight: normal;
}

body{
    background-image: url(signup.jpg);
}

.heeder{
    margin: auto;
    margin-top: -50px;

    background:linear-gradient(90deg, #FFAA4B,#FF824E);
    border: #8A4B22 7px solid;
    border-radius: 13px;

    width: 507px;
    height: 76px;
    
    font-family: 'kongtext';
    font-size:25px;
    -webkit-text-stroke: 2px #5C2F22 ;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -2px;


    
}

.main{
    width: 621px;
    height: 634px;
    background-color: #D1B89E;

    border: #5C2F22 7px solid;
    border-radius: 13px;

    margin: auto;
    margin-top: 125px;


    color: white;
    -webkit-text-stroke: 1px #5C2F22;
    font-size: 13px;
}

.text{
    margin-left: 46px;
    font-size: 26px;
    color: white;
    -webkit-text-stroke: 1px #5C2F22;
    font-family: 'kongtext';


}
.fooms{
    width: 515px;
    height: 35px;
    background-color: #EBA977;

    border: #8A4B22 5px solid;
    border-radius: 13px;

    display: flex;
    justify-self: center;
}

.fp{
    display: flex;
    margin-top: 20px;
    margin-left: 46px;
    text-decoration: none;

    font-family: 'kongtext';
    color: white;
    -webkit-text-stroke: 2px #5C2F22;
    font-size: 22px;
}

.submit{
    display: flex;
    justify-self: center;
    margin-top: 30px;

    width: 345px;
    height: 53px;


    background:linear-gradient(90deg, #FFAA4B,#FF824E);
    border: #8A4B22 7px solid;
    border-radius: 50px;

    font-family: 'kongtext';
    color: white;
    -webkit-text-stroke: 2px #5C2F22;
    font-size: 26px;
    justify-content: center;  /* centers horizontally */
    align-items: center;      /* centers vertically */

}

.sup{
    font-family: 'kongtext';
    color: white;
    -webkit-text-stroke: 1px #5C2F22;
    font-size: 17px;

    display: flex;
    margin-top: 20px;
    margin-left: 46px;
}